# Learning Objectives
In this notebook, you will learn Spark Dataframe APIs.

# Question List

Solve the following questions using Spark Dataframe APIs

### Join

1. easy - https://pgexercises.com/questions/joins/simplejoin.html
2. easy - https://pgexercises.com/questions/joins/simplejoin2.html
3. easy - https://pgexercises.com/questions/joins/self2.html 
4. medium - https://pgexercises.com/questions/joins/threejoin.html (three join)
5. medium - https://pgexercises.com/questions/joins/sub.html (subquery and join)

### Aggregation

1. easy - https://pgexercises.com/questions/aggregates/count3.html Group by order by
2. easy - https://pgexercises.com/questions/aggregates/fachours.html group by order by
3. easy - https://pgexercises.com/questions/aggregates/fachoursbymonth.html group by with condition 
4. easy - https://pgexercises.com/questions/aggregates/fachoursbymonth2.html group by multi col
5. easy - https://pgexercises.com/questions/aggregates/members1.html count distinct
6. med - https://pgexercises.com/questions/aggregates/nbooking.html group by multiple cols, join

### String & Date

1. easy - https://pgexercises.com/questions/string/concat.html format string
2. easy - https://pgexercises.com/questions/string/case.html WHERE + string function
3. easy - https://pgexercises.com/questions/string/reg.html WHERE + string function
4. easy - https://pgexercises.com/questions/string/substr.html group by, substr
5. easy - https://pgexercises.com/questions/date/series.html generate ts
6. easy - https://pgexercises.com/questions/date/bookingspermonth.html extract month from ts

# JOIN
## Question

How can you produce a list of the start times for bookings by members named 'David Farrell'?

https://pgexercises.com/questions/joins/simplejoin.html

In [0]:
# Write you solution here
# hint: you might need to re-run `0 - ETL pgexercieses CSV files` notebook to init tables

df = spark.sql("SELECT bks.starttime FROM bookings3 bks inner JOIN members3 mems ON mems.memid = bks.memid WHERE mems.firstname='David' AND mems.surname='Farrell';")
display(df)

starttime
2012-09-18T09:00:00.000+0000
2012-09-18T17:30:00.000+0000
2012-09-18T13:30:00.000+0000
2012-09-18T20:00:00.000+0000
2012-09-19T09:30:00.000+0000
2012-09-19T15:00:00.000+0000
2012-09-19T12:00:00.000+0000
2012-09-20T15:30:00.000+0000
2012-09-20T11:30:00.000+0000
2012-09-20T14:00:00.000+0000
2012-09-21T10:30:00.000+0000
2012-09-21T14:00:00.000+0000
2012-09-22T08:30:00.000+0000
2012-09-22T17:00:00.000+0000
2012-09-23T08:30:00.000+0000
2012-09-23T17:30:00.000+0000
2012-09-23T19:00:00.000+0000
2012-09-24T08:00:00.000+0000
2012-09-24T16:30:00.000+0000
2012-09-24T12:30:00.000+0000
2012-09-25T15:30:00.000+0000
2012-09-25T17:00:00.000+0000
2012-09-26T13:00:00.000+0000
2012-09-26T17:00:00.000+0000
2012-09-27T08:00:00.000+0000
2012-09-28T11:30:00.000+0000
2012-09-28T09:30:00.000+0000
2012-09-28T13:00:00.000+0000
2012-09-29T16:00:00.000+0000
2012-09-29T10:30:00.000+0000
2012-09-29T13:30:00.000+0000
2012-09-29T14:30:00.000+0000
2012-09-29T17:30:00.000+0000
2012-09-30T14:30:00.000+0000

### Question
How can you produce a list of the start times for bookings for tennis courts, for the date '2012-09-21'? Return a list of start time and facility name pairings, ordered by the time.
https://pgexercises.com/questions/joins/simplejoin2.html

In [0]:
df = spark.sql("SELECT bks.starttime AS start, facs.name AS name FROM facilities3 facs INNER JOIN bookings3 bks ON facs.facid = bks.facid WHERE facs.name IN ('Tennis Court 2','Tennis Court 1') AND bks.starttime >= '2012-09-21' AND bks.starttime < '2012-09-22' ORDER BY bks.starttime;")
display(df)

start,name
2012-09-21T08:00:00.000+0000,Tennis Court 1
2012-09-21T08:00:00.000+0000,Tennis Court 2
2012-09-21T09:30:00.000+0000,Tennis Court 1
2012-09-21T10:00:00.000+0000,Tennis Court 2
2012-09-21T11:30:00.000+0000,Tennis Court 2
2012-09-21T12:00:00.000+0000,Tennis Court 1
2012-09-21T13:30:00.000+0000,Tennis Court 1
2012-09-21T14:00:00.000+0000,Tennis Court 2
2012-09-21T15:30:00.000+0000,Tennis Court 1
2012-09-21T16:00:00.000+0000,Tennis Court 2
2012-09-21T17:00:00.000+0000,Tennis Court 1
2012-09-21T18:00:00.000+0000,Tennis Court 2

##Question
How can you output a list of all members, including the individual who recommended them (if any)? Ensure that results are ordered by (surname, firstname).

In [0]:
df = spark.sql("SELECT mems.firstname AS memfirstname, mems.surname AS memsurname, recs.firstname AS recfirstname, recs.surname AS recsurname FROM members3 mems LEFT OUTER JOIN members3 recs ON recs.memid = mems.recommendedby ORDER BY memsurname, memfirstname;")
display(df)

memfirstname,memsurname,recfirstname,recsurname
Florence,Bader,Ponder,Stibbons
Anne,Baker,Ponder,Stibbons
Timothy,Baker,Jemima,Farrell
Tim,Boothe,Tim,Rownam
Gerald,Butters,Darren,Smith
Joan,Coplin,Timothy,Baker
Erica,Crumpet,Tracy,Smith
Nancy,Dare,Janice,Joplette
David,Farrell,null,null
Jemima,Farrell,null,null
GUEST,GUEST,null,null
Matthew,Genting,Gerald,Butters
John,Hunt,Millicent,Purview
David,Jones,Janice,Joplette
Douglas,Jones,David,Jones
Janice,Joplette,Darren,Smith
Anna,Mackenzie,Darren,Smith
Charles,Owen,Darren,Smith
David,Pinker,Jemima,Farrell
Millicent,Purview,Tracy,Smith
Tim,Rownam,null,null
Henrietta,Rumney,Matthew,Genting
Ramnaresh,Sarwin,Florence,Bader
Darren,Smith,null,null
Darren,Smith,null,null
Jack,Smith,Darren,Smith
Tracy,Smith,null,null
Ponder,Stibbons,Burton,Tracy
Burton,Tracy,null,null
Hyacinth,Tupperware,null,null
Henry,Worthington-Smyth,Tracy,Smith

## Question
How can you produce a list of all members who have used a tennis court? Include in your output the name of the court, and the name of the member formatted as a single column. Ensure no duplicate data, and order by the member name followed by the facility name.

In [0]:
df = spark.sql("SELECT DISTINCT mems.firstname || ' ' || mems.surname AS member, facs.name AS facility FROM members3 mems INNER JOIN bookings3 bks ON mems.memid = bks.memid INNER JOIN facilities3 facs ON bks.facid = facs.facid WHERE facs.name IN ('Tennis Court 2','Tennis Court 1') ORDER BY member, facility;")
display(df)

member,facility
Anne Baker,Tennis Court 1
Anne Baker,Tennis Court 2
Burton Tracy,Tennis Court 1
Burton Tracy,Tennis Court 2
Charles Owen,Tennis Court 1
Charles Owen,Tennis Court 2
Darren Smith,Tennis Court 2
David Farrell,Tennis Court 1
David Farrell,Tennis Court 2
David Jones,Tennis Court 1
David Jones,Tennis Court 2
David Pinker,Tennis Court 1
Douglas Jones,Tennis Court 1
Erica Crumpet,Tennis Court 1
Florence Bader,Tennis Court 1
Florence Bader,Tennis Court 2
GUEST GUEST,Tennis Court 1
GUEST GUEST,Tennis Court 2
Gerald Butters,Tennis Court 1
Gerald Butters,Tennis Court 2
Henrietta Rumney,Tennis Court 2
Jack Smith,Tennis Court 1
Jack Smith,Tennis Court 2
Janice Joplette,Tennis Court 1
Janice Joplette,Tennis Court 2
Jemima Farrell,Tennis Court 1
Jemima Farrell,Tennis Court 2
Joan Coplin,Tennis Court 1
John Hunt,Tennis Court 1
John Hunt,Tennis Court 2
Matthew Genting,Tennis Court 1
Millicent Purview,Tennis Court 2
Nancy Dare,Tennis Court 1
Nancy Dare,Tennis Court 2
Ponder Stibbons,Tennis Court 1
Ponder Stibbons,Tennis Court 2
Ramnaresh Sarwin,Tennis Court 1
Ramnaresh Sarwin,Tennis Court 2
Tim Boothe,Tennis Court 1
Tim Boothe,Tennis Court 2
Tim Rownam,Tennis Court 1
Tim Rownam,Tennis Court 2
Timothy Baker,Tennis Court 1
Timothy Baker,Tennis Court 2
Tracy Smith,Tennis Court 1
Tracy Smith,Tennis Court 2

## Question
How can you output a list of all members, including the individual who recommended them (if any), without using any joins? Ensure that there are no duplicates in the list, and that each firstname + surname pairing is formatted as a column and ordered.

In [0]:
df = spark.sql("SELECT DISTINCT mems.firstname || ' ' ||  mems.surname AS member, (SELECT recs.firstname || ' ' || recs.surname AS recommender FROM members3 recs WHERE recs.memid = mems.recommendedby) FROM members3 mems ORDER BY member;")
display(df)

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-3792802479738575>:1
----> 1 df = spark.sql("SELECT DISTINCT mems.firstname || ' ' ||  mems.surname AS member, (SELECT recs.firstname || ' ' || recs.surname AS recommender FROM members3 recs WHERE recs.memid = mems.recommendedby) FROM members3 mems ORDER BY member;")
      2 display(df)

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/session.py:1387, in SparkSession.sql(self, sqlQuery, args, **kwargs)
   1385 try:
   1386     litArgs = {k: _to_java_column(lit(v)) for k, v in (args or {}).items()}
-> 1387     return DataFrame(self._jsparkSession.sql(sqlQuery, litArgs), self)
   1388 finally:
   1389     if len(kwargs) > 0:

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [UNSUPPORTED_SUBQUERY_EXPRESSION_CATEGORY.MUST_AGGREGATE_CORRELATED_SCALAR_SUBQUERY] Unsupported subquery expression: Correlated scalar subqueries must be aggregated to return at most one row.; line 1 pos 66;
Sort [member#3185 ASC NULLS FIRST], true
+- Distinct
   +- Project [concat(concat(firstname#3198,  ), surname#3197) AS member#3185, scalar-subquery#3187 [recommendedby#3202] AS scalarsubquery(recommendedby)#3213]
      :  +- Project [concat(concat(firstname#3206,  ), surname#3205) AS recommender#3186]
      :     +- Filter (memid#3204 = cast(outer(recommendedby#3202) as int))
      :        +- SubqueryAlias recs
      :           +- SubqueryAlias spark_catalog.default.members3
      :              +- Relation spark_catalog.default.members3[memid#3204,surname#3205,firstname#3206,address#3207,zipcode#3208,telephone#3209,recommendedby#3210,joindate#3211] parquet
      +- SubqueryAlias mems
         +- SubqueryAlias spark_catalog.default.members3
            +- Relation spark_catalog.default.members3[memid#3196,surname#3197,firstname#3198,address#3199,zipcode#3200,telephone#3201,recommendedby#3202,joindate#3203] parquet

# Aggregation
## Question
Produce a count of the number of recommendations each member has made. Order by member ID.

In [0]:
df = spark.sql("SELECT recommendedby, COUNT(*) FROM members3 WHERE recommendedby IS NOT NULL GROUP BY recommendedby ORDER BY recommendedby;")
display(df)

recommendedby,count(1)
1,5
11,1
13,2
15,1
16,1
2,3
20,1
3,1
30,1
4,2
5,1
6,1
9,2

## Question
Produce a list of the total number of slots booked per facility. For now, just produce an output table consisting of facility id and slots, sorted by facility id.

In [0]:
df = spark.sql("SELECT facid, SUM(slots) AS Total_Slots FROM bookings3 GROUP BY facid ORDER BY facid;")
display(df)

facid,Total_Slots
0,1320
1,1278
2,1209
3,830
4,1404
5,228
6,1104
7,908
8,911

## Question
Produce a list of the total number of slots booked per facility in the month of September 2012. Produce an output table consisting of facility id and slots, sorted by the number of slots.

In [0]:
df = spark.sql("SELECT facid, SUM(slots) AS Total_Slots FROM bookings3 WHERE starttime >= '2012-09-01' AND starttime < '2012-10-01' GROUP BY facid ORDER BY sum(slots);  ")
display(df)

facid,Total_Slots
5,122
3,422
7,426
8,471
6,540
2,570
1,588
0,591
4,648

## Question
Produce a list of the total number of slots booked per facility per month in the year of 2012. Produce an output table consisting of facility id and slots, sorted by the id and month.

In [0]:
df = spark.sql("SELECT facid, EXTRACT(month FROM starttime) AS month, SUM(slots) AS Total_Slots FROM bookings3 WHERE EXTRACT(year FROM starttime) = 2012 GROUP BY facid, month ORDER BY facid, month;")
display(df)

facid,month,Total_Slots
0,7,270
0,8,459
0,9,591
1,7,207
1,8,483
1,9,588
2,7,180
2,8,459
2,9,570
3,7,104
3,8,304
3,9,422
4,7,264
4,8,492
4,9,648
5,7,24
5,8,82
5,9,122
6,7,164
6,8,400
6,9,540
7,7,156
7,8,326
7,9,426
8,7,117
8,8,322
8,9,471

## Question
Find the total number of members (including guests) who have made at least one booking.

In [0]:
df = spark.sql("SELECT COUNT(DISTINCT memid) from bookings3;")
display(df)

count(DISTINCT memid)
30

## Question
Produce a list of each member name, id, and their first booking after September 1st 2012. Order by member ID.

In [0]:
df = spark.sql("SELECT mems.surname, mems.firstname, mems.memid, MIN(bks.starttime) AS starttime FROM bookings3 bks INNER JOIN members3 mems ON mems.memid = bks.memid WHERE starttime >= '2012-09-01' GROUP BY mems.surname, mems.firstname, mems.memid ORDER BY mems.memid;")
display(df)

surname,firstname,memid,starttime
GUEST,GUEST,0,2012-09-01T08:00:00.000+0000
Smith,Darren,1,2012-09-01T09:00:00.000+0000
Smith,Tracy,2,2012-09-01T11:30:00.000+0000
Rownam,Tim,3,2012-09-01T16:00:00.000+0000
Joplette,Janice,4,2012-09-01T15:00:00.000+0000
Butters,Gerald,5,2012-09-02T12:30:00.000+0000
Tracy,Burton,6,2012-09-01T15:00:00.000+0000
Dare,Nancy,7,2012-09-01T12:30:00.000+0000
Boothe,Tim,8,2012-09-01T08:30:00.000+0000
Stibbons,Ponder,9,2012-09-01T11:00:00.000+0000
Owen,Charles,10,2012-09-01T11:00:00.000+0000
Jones,David,11,2012-09-01T09:30:00.000+0000
Baker,Anne,12,2012-09-01T14:30:00.000+0000
Farrell,Jemima,13,2012-09-01T09:30:00.000+0000
Smith,Jack,14,2012-09-01T11:00:00.000+0000
Bader,Florence,15,2012-09-01T10:30:00.000+0000
Baker,Timothy,16,2012-09-01T15:00:00.000+0000
Pinker,David,17,2012-09-01T08:30:00.000+0000
Genting,Matthew,20,2012-09-01T18:00:00.000+0000
Mackenzie,Anna,21,2012-09-01T08:30:00.000+0000
Coplin,Joan,22,2012-09-02T11:30:00.000+0000
Sarwin,Ramnaresh,24,2012-09-04T11:00:00.000+0000
Jones,Douglas,26,2012-09-08T13:00:00.000+0000
Rumney,Henrietta,27,2012-09-16T13:30:00.000+0000
Farrell,David,28,2012-09-18T09:00:00.000+0000
Worthington-Smyth,Henry,29,2012-09-19T09:30:00.000+0000
Purview,Millicent,30,2012-09-19T11:30:00.000+0000
Tupperware,Hyacinth,33,2012-09-20T08:00:00.000+0000
Hunt,John,35,2012-09-23T14:00:00.000+0000
Crumpet,Erica,36,2012-09-27T11:30:00.000+0000

# String and Data
## Question
Output the names of all members, formatted as 'Surname, Firstname'

In [0]:
df = spark.sql("SELECT surname || ', ' || firstname AS name FROM members3;")
display(df)

name
"GUEST, GUEST"
"Smith, Darren"
"Smith, Tracy"
"Rownam, Tim"
"Joplette, Janice"
"Butters, Gerald"
"Tracy, Burton"
"Dare, Nancy"
"Boothe, Tim"
"Stibbons, Ponder"
"Owen, Charles"
"Jones, David"
"Baker, Anne"
"Farrell, Jemima"
"Smith, Jack"
"Bader, Florence"
"Baker, Timothy"
"Pinker, David"
"Genting, Matthew"
"Mackenzie, Anna"
"Coplin, Joan"
"Sarwin, Ramnaresh"
"Jones, Douglas"
"Rumney, Henrietta"
"Farrell, David"
"Worthington-Smyth, Henry"
"Purview, Millicent"
"Tupperware, Hyacinth"
"Hunt, John"
"Crumpet, Erica"
"Smith, Darren"

## Question
Perform a case-insensitive search to find all facilities whose name begins with 'tennis'. Retrieve all columns.

In [0]:
df = spark.sql("SELECT * FROM facilities3 WHERE UPPER(name) like 'TENNIS%';")
display(df)

facid,name,membercost,guestcost,initialoutlay,monthlymaintenance
0,Tennis Court 1,5,25,10000,200
1,Tennis Court 2,5,25,8000,200

## Question
You've noticed that the club's member table has telephone numbers with very inconsistent formatting. You'd like to find all the telephone numbers that contain parentheses, returning the member ID and telephone number sorted by member ID.

In [0]:
df = spark.sql("SELECT memid, telephone FROM members4 WHERE telephone LIKE '%(%)%' ;")
display(df)

memid,telephone
0,(000) 000-0000
3,(844) 693-0723
4,(833) 942-4710
5,(844) 078-4130
6,(822) 354-9973
7,(833) 776-4001
8,(811) 433-2547
9,(833) 160-3900
10,(855) 542-5251
11,(844) 536-8036
13,(855) 016-0163
14,(822) 163-3254
15,(833) 499-3527
20,(811) 972-1377
21,(822) 661-2898
22,(822) 499-2232
24,(822) 413-1470
27,(822) 989-8876
28,(855) 755-9876
29,(855) 894-3758
30,(855) 941-9786
33,(822) 665-5327
35,(899) 720-6978
36,(811) 732-4816
37,(822) 577-3541

## Question
You'd like to produce a count of how many members you have whose surname starts with each letter of the alphabet. Sort by the letter, and don't worry about printing out a letter if the count is 0.

In [0]:
df = spark.sql("SELECT SUBSTR (mems.surname,1,1) AS letter, count(*) AS count FROM members4 mems GROUP BY letter ORDER BY letter;")
display(df)

letter,count
B,5
C,2
D,1
F,2
G,2
H,1
J,3
M,1
O,1
P,2
R,2
S,6
T,2
W,1

## Question
Produce a list of all the dates in October 2012. They can be output as a timestamp (with time set to midnight) or a date.

In [0]:
from pyspark.sql import SparkSession
df = spark.sql("SELECT GENERATE_SERIES (timestamp '2012-10-01', timestamp '2012-10-31', interval '1 day') as Timestamps;")
display(df)

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-4192859840106283>:2
      1 from pyspark.sql import SparkSession
----> 2 df = spark.sql("SELECT GENERATE_SERIES (timestamp '2012-10-01', timestamp '2012-10-31', interval '1 day') as Timestamps;")
      3 display(df)

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/session.py:1387, in SparkSession.sql(self, sqlQuery, args, **kwargs)
   1385 try:
   1386     litArgs = {k: _to_java_column(lit(v)) for k, v in (args or {}).items()}
-> 1387     return DataFrame(self._jsparkSession.sql(sqlQuery, litArgs), self)
   1388 finally:
   1389     if len(kwargs) > 0:

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [UNRESOLVED_ROUTINE] Cannot resolve function `GENERATE_SERIES` on search path [`system`.`builtin`, `system`.`session`, `spark_catalog`.`default`].; line 1 pos 7

## Question
Return a count of bookings for each month, sorted by month

In [0]:
df = spark.sql("SELECT date_trunc('month', starttime) AS month, count(*) FROM bookings4 GROUP BY month ORDER BY month")
display(df)

month,count(1)
2012-07-01T00:00:00.000+0000,658
2012-08-01T00:00:00.000+0000,1472
2012-09-01T00:00:00.000+0000,1913
2013-01-01T00:00:00.000+0000,1