# Learning Objectives

In this notebook, you will craft sophisticated ETL jobs that interface with a variety of common data sources, such as 
- REST APIs (HTTP endpoints)
- RDBMS
- Hive tables (managed tables)
- Various file formats (csv, json, parquet, etc.)


# Interview Questions

As you progress through the practice, attempt to answer the following questions:

## Columnar File
- What is a columnar file format and what advantages does it offer?
- Why is Parquet frequently used with Spark and how does it function?
- How do you read/write data from/to a Parquet file using a DataFrame?

## Partitions
- How do you save data to a file system by partitions? (Hint: Provide the code)
- How and why can partitions reduce query execution time? (Hint: Give an example)

## JDBC and RDBMS
- How do you load data from an RDBMS into Spark? (Hint: Discuss the steps and JDBC)

## REST API and HTTP Requests
- How can Spark be used to fetch data from a REST API? (Hint: Discuss making API requests)

## ETL Job One: Parquet file
### Extract
Extract data from the managed tables (e.g. `bookings_csv`, `members_csv`, and `facilities_csv`)

### Transform
Data transformation requirements https://pgexercises.com/questions/aggregates/fachoursbymonth.html

### Load
Load data into a parquet file

### What is Parquet? 

Columnar files are an important technique for optimizing Spark queries. Additionally, they are often tested in interviews.
- https://www.youtube.com/watch?v=KLFadWdomyI
- https://www.databricks.com/glossary/what-is-parquet

In [0]:
# Write your solution here
df = spark.sql("SELECT facid, SUM(slots) AS Total_Slots FROM bookings6 WHERE starttime >= '2012-09-01' AND starttime < '2012-10-01' GROUP BY facid ORDER BY SUM(slots);")
df.write.mode("overwrite").parquet("/dbfs/FileStore/tables/bookings.parquet")
display(df)
display(dbutils.fs.ls("/dbfs/FileStore/tables/bookings.parquet"))

## ETL Job Two: Partitions

### Extract
Extract data from the managed tables (e.g. `bookings_csv`, `members_csv`, and `facilities_csv`)

### Transform
Transform the data https://pgexercises.com/questions/joins/threejoin.html

### Load
Partition the result data by facility column and then save to `threejoin_delta` managed table. Additionally, they are often tested in interviews.

hint: https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.DataFrameWriter.partitionBy.html

What are partitions? 

Partitions are an important technique to optimize Spark queries
- https://www.youtube.com/watch?v=hvF7tY2-L3U&t=268s

In [0]:
# Write your solution here
import tempfile
import os

df = spark.sql("SELECT DISTINCT mems.firstname || ' ' || mems.surname AS member, facs.name AS facility FROM members7 mems INNER JOIN bookings7 bks ON mems.memid = bks.memid INNER JOIN facilities7 facs ON bks.facid = facs.facid WHERE facs.name in ('Tennis Court 2','Tennis Court 1') ORDER BY member, facility;")
df.write.partitionBy("facility").parquet("dbfs:/FileStore/tables/threejoin_delta.parquet")
display(df)

## ETL Job Three: HTTP Requests

### Extract
Extract daily stock price data price from the following companies, Google, Apple, Microsoft, and Tesla. 

Data Source
- API: https://rapidapi.com/alphavantage/api/alpha-vantage
- Endpoint: GET `TIME_SERIES_DAILY`

Sample HTTP request

```
curl --request GET \
	--url 'https://alpha-vantage.p.rapidapi.com/query?function=TIME_SERIES_DAILY&symbol=TSLA&outputsize=compact&datatype=json' \
	--header 'X-RapidAPI-Host: alpha-vantage.p.rapidapi.com' \
	--header 'X-RapidAPI-Key: [YOUR_KEY]'

```

Sample Python HTTP request

```
import requests

url = "https://alpha-vantage.p.rapidapi.com/query"

querystring = {
    "function":"TIME_SERIES_DAILY",
    "symbol":"IBM",
    "datatype":"json",
    "outputsize":"compact"
}

headers = {
    "X-RapidAPI-Host": "alpha-vantage.p.rapidapi.com",
    "X-RapidAPI-Key": "[YOUR_KEY]"
}

response = requests.get(url, headers=headers, params=querystring)

data = response.json()

# Now 'data' contains the daily time series data for "IBM"
```

### Transform
Find **weekly** max closing price for each company.

hints: 
  - Use a `for-loop` to get stock data for each company
  - Use the spark `union` operation to concat all data into one DF
  - create a new `week` column from the data column
  - use `group by` to calcualte max closing price

### Load
- Partition `DF` by company
- Load the DF in to a managed table called, `max_closing_price_weekly`

In [0]:
# Write your solution here

import requests
import pandas as pd
import copy
from pyspark.sql.functions import lit
from pyspark.sql.functions import weekofyear, udf, monotonically_increasing_id
import json
compSymbols = ["GOOG", "AAPL", "MSFT", "TSLA"]
url = "https://alpha-vantage.p.rapidapi.com/query"
for x in range(4):
    querystring = {
        "function":"TIME_SERIES_DAILY",
        "symbol":compSymbols[x],
        "datatype":"json",
        "outputsize":"compact"
    }
    headers = {
        "X-RapidAPI-Host": "alpha-vantage.p.rapidapi.com",
        "X-RapidAPI-Key": "APIKEY"
    }
    response = requests.get(url, headers=headers, params=querystring)
    data = response.json()
    # Extract only the data side
    df = pd.DataFrame(data['Time Series (Daily)'])
    # Get a list of the dates
    dates = df.columns
    # Transpose the dataframe so that each row is a single date
    df_t = df.transpose()
    # Convert pandas dataframe to spark dataframe
    ddf = spark.createDataFrame(df_t)
    # Append the date as a column using the list from before
    ddf = ddf.repartition(1).withColumn("Date", udf(lambda id: dates[id])(monotonically_increasing_id()))
    # Add a column for the week number using the new date column
    ddf = ddf.withColumn('week num', weekofyear('Date'))
    #ddf = ddf.withColumn('Company', lit(compSymbols[x]))
    if x == 0:
        ddf = ddf.withColumn('Company', lit("GOOG"))
        unionFrame0 = spark.sql("SELECT Company, MAX(`4. close`) AS `Weekly_Max`, `week num` AS Week_Num FROM {table} GROUP BY Company, Week_Num", table = ddf)
    if x == 1:
        ddf = ddf.withColumn('Company', lit("AAPL"))
        unionFrame1 = spark.sql("SELECT Company, MAX(`4. close`) AS `Weekly_Max`, `week num` AS Week_Num FROM {table} GROUP BY Company, Week_Num", table = ddf)
    if x == 2:
        ddf = ddf.withColumn('Company', lit("MSFT"))
        unionFrame2 = spark.sql("SELECT Company, MAX(`4. close`) AS `Weekly_Max`, `week num` AS Week_Num FROM {table} GROUP BY Company, Week_Num", table = ddf)
    if x == 3:
        ddf = ddf.withColumn('Company', lit("TSLA"))
        unionFrame3 = spark.sql("SELECT Company, MAX(`4. close`) AS `Weekly_Max`, `week num` AS Week_Num FROM {table} GROUP BY Company, Week_Num", table = ddf)
        combinedFrame0 = unionFrame0.union(unionFrame1)
        combinedFrame1 = combinedFrame0.union(unionFrame2)
        combinedFrame2 = combinedFrame1.union(unionFrame3)
        dddf = combinedFrame2

dddf.printSchema()
dddf.write.partitionBy("Company").saveAsTable("max_closing_price_weekly")
display(dddf)

root
 |-- Company: string (nullable = false)
 |-- Weekly_Max: string (nullable = true)
 |-- Week_Num: integer (nullable = true)

Company,Weekly_Max,Week_Num
GOOG,153.7900,4
GOOG,154.8400,5
GOOG,150.2200,6
GOOG,148.7300,7
GOOG,145.3200,8
GOOG,140.1000,9
GOOG,136.2900,10
GOOG,144.3400,11
GOOG,151.7700,12
GOOG,152.2600,13
GOOG,156.5000,14
GOOG,160.7900,15
GOOG,157.4600,16
GOOG,173.6900,17
GOOG,168.9900,18
GOOG,172.9800,19
GOOG,177.2900,20
GOOG,179.5400,21
GOOG,178.0200,22
GOOG,178.3500,23
GOOG,179.5600,24
AAPL,195.1800,4
AAPL,191.7300,5
AAPL,189.4100,6
AAPL,187.1500,7
AAPL,184.3700,8
AAPL,182.6300,9
AAPL,175.1000,10
AAPL,173.2300,11
AAPL,178.6700,12
AAPL,173.3100,13
AAPL,170.0300,14
AAPL,176.5500,15
AAPL,172.6900,16
AAPL,169.8900,17
AAPL,183.3800,18
AAPL,184.5700,19
AAPL,189.8700,20
AAPL,192.3500,21
AAPL,192.2500,22
AAPL,196.8900,23
AAPL,214.2400,24
MSFT,404.8700,4
MSFT,411.2200,5
MSFT,420.5500,6
MSFT,415.2600,7
MSFT,411.6500,8
MSFT,415.5000,9
MSFT,414.9200,10
MSFT,425.2200,11
MSFT,429.3700,12
MSFT,422.8600,13
MSFT,425.5200,14
MSFT,427.9300,15
MSFT,414.5800,16
MSFT,409.0600,17
MSFT,406.6600,18
MSFT,414.7400,19
MSFT,423.0800,20
MSFT,430.5200,21
MSFT,430.3200,22
MSFT,424.5200,23
MSFT,441.5800,24
TSLA,209.1400,4
TSLA,191.5900,5
TSLA,193.5700,6
TSLA,200.4500,7
TSLA,197.4100,8
TSLA,202.6400,9
TSLA,188.1400,10
TSLA,177.7700,11
TSLA,175.6600,12
TSLA,179.8300,13
TSLA,175.2200,14
TSLA,176.8800,15
TSLA,161.4800,16
TSLA,170.1800,17
TSLA,194.0500,18
TSLA,184.7600,19
TSLA,177.5500,20
TSLA,186.6000,21
TSLA,178.7900,22
TSLA,177.9400,23
TSLA,182.4700,24

## ETL Job Four: RDBMS


### Extract
Extract RNA data from a public PostgreSQL database.

- https://rnacentral.org/help/public-database
- Extract 100 RNA records from the `rna` table (hint: use `limit` in your sql)
- hint: use `spark.read.jdbc` https://docs.databricks.com/external-data/jdbc.html

### Transform
We want to load the data as it so there is no transformation required.


### Load
Load the DF in to a managed table called, `rna_100_records`

In [0]:
# Write your solution here
remote_table = (spark.read
  .format("jdbc")
  .option("url", "jdbc:postgresql://hh-pgsql-public.ebi.ac.uk:5432/pfmegrnargs")
  .option("user", "reader")
  .option("password", "NWDMCE5xdipIjRrp")
  .option("dbtable", "rna")
  .option("fetchSize", "100")
  .load()
)
# display(remote_table)
df = remote_table.select("*").limit(100)
df.write.mode("overwrite").saveAsTable("rna_100_records")
display(df)